version: "3.8"

services:
  postgres:
    container_name: fast-feet
    image: postgres:latest
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastfeet
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: fast-feet-redis
    image: redis:latest
    ports:
      - 6380:6379
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
